@import './base.css';
@import 'element-plus/dist/index.css';

.full-height {
	height: 100vh;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 32px;
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.full-height {
		padding: 0 24px;
	}
}

@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media screen and (min-width: 1400px) {
	.container {
		max-width: 1320px;
	}
}
